<a href="https://colab.research.google.com/github/anhpvl18916/Colab_Python_ex/blob/master/Cloud_Python_CB_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(5,0,-2):
  print(i)

5
3
1

In [0]:
for i in range(-5):
    print('Hello, world!')

# New Section

In [2]:
n = int(input("Cho độ cao của Tam Giác: h = "))

for i in range(0,n):
  str = ""
  for j in range(0, i+1):
    str +="*"
  print(str)

Cho độ cao của Tam Giác3
*
**
***

In [60]:
n = int(input("Cho độ cao của Tam Giác: h = "))
for i in range(n,0,-1):
  str = ""
  for j in range(i, 0,-1):
    str +="*"
  print(str)

Cho độ cao của Tam Giác: h = 3
***
**
*

In [15]:
n = int(input("Cho độ cao của Tam Giác: h = "))

for i in range(0,n+1):
    s = n - i
    k = s * " "
    print(k, end='')
    print(((2 * i) - 1) * '*')

Cho độ cao của Tam Giác: h = 3

  *
 ***
*****

In [42]:
n = int(input("Cho độ cao của Tam Giác: h = "))

for i in range(n,0,-1):
    s = n - i
    k = s* " " 
    print(k, end='')
    print(((2 * i) - 1) * '*')

Cho độ cao của Tam Giác: h = 3
*****
 ***
  *

In [61]:
n = int(input("Cho độ cao của Tam Giác: h = "))
for i in range(n,0,-1):
  str = ""
  for k in range(i,n):
    str += " "
  for j in range(i, 0,-1):
    str +="*"
  print(str)

Cho độ cao của Tam Giác: h = 3
***
 **
  *

In [63]:
for i in range(0,n):
  str = ""
  for k in range(i,n):
    str += " "
  for j in range(0, i+1):
    str +="*"
  print(str)

   *
  **
 ***

In [65]:
for i in range(0,n):
  str = ""
  for k in range(i,n):
    str += " " 
  for j in range(0, (2*i +1)):
    if(i>=2)
      str +=" "
      print((j+1),str)

   *
  ***
 *****

In [70]:
list= [1,3,5,7,2,4,6,9]
#list, array, tuple,set,dictionary
#print(list[3])

tuple =("001", "Nguyen A", "20","X's comp")#

dsTaphop = {1,2,3,5,6,8,2} # các phần tử là duy nhất, các pt trùng sẽ bị loại bỏ

dict  = {"one": "một",
         "two": "hai"
         }
for i in dict:
  print(i)

one
two